body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  list-style: none;
}

.legend li {
  display: block;
  float: left;
  width: 40px;
  height: 15px;
}

.legend span {
  display: block;
  text-align: right;

}